In [2]:
import pandas as pd
import json

In [5]:
infile = '../reports/viz/full_singlerank_1997_ll_no_hyph_06_05_2020/viz_data450.json'

In [12]:
with open(infile, 'r') as f0:
    viz_data = json.load(f0)

In [13]:
viz_data = json.loads(viz_data)

In [23]:
term_table = pd.DataFrame(viz_data['token.table'])

In [33]:
term_table['Term'].unique().shape

(4230,)

In [53]:
q = 'planet form'
term_table[term_table['Term'].apply(lambda x: q in x)]

      Topic      Freq                     Term
2359    431  0.976902        giant planet form
4125    147  0.000659              planet form
4126    431  0.996575              planet form
5411    364  0.964213  terrestrial planet form

In [4]:
pd.read_csv(infile, index_col=0)

                              model  n_topics     u_mass  c_v
0   gensim.models.ldamodel.LdaModel       100  -7.563601  NaN
1   gensim.models.ldamodel.LdaModel       125  -8.507150  NaN
2   gensim.models.ldamodel.LdaModel       150  -9.544034  NaN
3   gensim.models.ldamodel.LdaModel       175 -10.290744  NaN
4   gensim.models.ldamodel.LdaModel       200 -11.269435  NaN
5   gensim.models.ldamodel.LdaModel       225 -11.538569  NaN
6   gensim.models.ldamodel.LdaModel       250 -11.807640  NaN
7   gensim.models.ldamodel.LdaModel       275 -12.151431  NaN
8   gensim.models.ldamodel.LdaModel       300 -11.140552  NaN
9   gensim.models.ldamodel.LdaModel       325 -10.368719  NaN
10  gensim.models.ldamodel.LdaModel       350  -9.639467  NaN
11  gensim.models.ldamodel.LdaModel       375  -8.623499  NaN
12  gensim.models.ldamodel.LdaModel       400  -7.804499  NaN
13  gensim.models.ldamodel.LdaModel       425  -7.079531  NaN
14  gensim.models.ldamodel.LdaModel       450  -6.906291  NaN
15  gensim.models.ldamodel.LdaModel       475  -7.419610  NaN
16  gensim.models.ldamodel.LdaModel       500  -8.112551  NaN
17  gensim.models.ldamodel.LdaModel       525  -9.743193  NaN
18  gensim.models.ldamodel.LdaModel       550 -11.396060  NaN
19  gensim.models.ldamodel.LdaModel       575 -12.176302  NaN
20  gensim.models.ldamodel.LdaModel       600 -13.450964  NaN
21  gensim.models.ldamodel.LdaModel       625 -14.237370  NaN
22  gensim.models.ldamodel.LdaModel       650 -14.991076  NaN
23  gensim.models.ldamodel.LdaModel       675 -15.667183  NaN
24  gensim.models.ldamodel.LdaModel       700 -15.896773  NaN
25  gensim.models.ldamodel.LdaModel       725 -16.536412  NaN
26  gensim.models.ldamodel.LdaModel       750 -16.525939  NaN
27  gensim.models.ldamodel.LdaModel       775 -16.667998  NaN
28  gensim.models.ldamodel.LdaModel       800 -16.766176  NaN
29  gensim.models.ldamodel.LdaModel       825 -16.903295  NaN